<% menu_icon "+" %>

<% if !@finance.errors.empty? %>
  <div>
    <ul>
      <% @finance.errors.full_messages.each do |error| %>
        <li> <%= error %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container mid">
  <h2>New Record</h2>
  <hr>
  <%= form_for @finance do |f| %>
  <div class="row fit-content">
    <%= f.select :flow, options_for_status, {}, prompt: 'Select One' %>
    <h2>$</h2><%= f.text_field :amount, placeholder: "0", class: "amount"%>
  </div>
  <div class="row">
    <%= f.date_field :date %>

    <%= f.submit 'Save', class: "button" %>
  </div>
<% end %>
</div>