<% menu_icon "Dream Journal" %>
<%= link_to "Sign Up", sign_up_path, class: 'corner-button' %>

<h1 class="red">Sign In</h1>

<%= form_with url: sign_in_path do |f| %>
    <div>
        <%= f.text_field :username, id: 'username', placeholder: "Username" %>
    </div>

    <div>
        <%= f.password_field :password, id: 'password', placeholder: "Password" %>
    </div>
    
    <div>
        <%= f.submit 'Log In', class: 'submit button' %>
    </div>
<% end %>