<div class="full-height vertically-center">
    <div class="container account-column mid">
        <h1 class="red">Sign In</h1>

        <%= button_to "Login via Facebook", "/auth/facebook", method: :post, class: "facebook"%>

        <%= form_with url: login_path do |f| %>
            <div>
                <%= f.text_field :username, id: 'username', placeholder: "Username" %>
            </div>

            <div>
                <%= f.password_field :password, id: 'password', placeholder: "Password" %>
            </div>
            
            <div>
                <%= f.submit 'Log In', class: 'submit button light' %>
            </div>
        <% end %>
    </div>

    <hr class="hr-column">

    <div class="container account-column mid">
        <h1 class="red">Sign Up</h1>

        <%= render 'users/new' %>
    </div>
</div>