<% menu_icon "Dream Journal" %>

<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |f| %>
    <%= f.label 'email' %><br>
    <%= f.text_field :email %>

    <%= f.label 'username' %><br>
    <%= f.text_field :username %>
    
    <%= f.label 'password' %><br>
    <%= f.password_field :password %>

    <%= f.label 'password_confirmation' %><br>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit 'Sign Up' %>
<% end %>