<label class="switch">
    <% if cookies[:dark] %>
        <%= button_to 'Light Mode', light_path, method: :get%>
    <% else %>
        <%= button_to 'Dark Mode', dark_path, method: :get%>
    <% end %>
    <span class="slider"></span>
</label>

<div class="row account-row">
    <div class="container account-column mid">
        <h2>Account Info</h2>
        <h5>Username: <%= @user.username %></h5>
        <h5>Email: <%= @user.email %></h5>
        <div class="row">
            <%= link_to "Update Account",
            edit_user_path(@user),
            class: "button light" %>

            <%= link_to "Delete Account",
            user_path(@user),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this account permanently?' },
            class: "button light" %>
        </div>
    </div>

    <hr class="hr-column">

    <div class="container account-column mid">
        <h2>Friends</h2>
        <ul>
            <% if @invites.length > 0 %>
                <%= @invites.each do |invite| %>
                    <li><%= invite.name %></li>
                <% end %>
            <% end %>
            <% if @friends.length > 0 %>
                <%= @friends.each do |friend| %>
                    <li><%= friend.name %></li>
                <% end %>
            <% else %>
                <li>You have no friends.</li>
            <% end %>
        </ul>
        <div>
            <%= link_to "Add Friend", add_friend_path, class: "button light" %>
        </div>
    </div>
</div>