<% menu_icon "Dream Journal" %>
<%= link_to "Sign Out", sign_out_path, class: 'corner-button' %>

<div class="split-column">
    <h2>Account Info</h2>
    <h4>Username: <%= @user.username %></h4>
    <h4>Email: <%= @user.email %></h4>
    <%= link_to "Change Password", edit_password_path, class: "button" %>
</div>
<div class="split-column">
    <h2>Friends</h2>
    <ul>
        <% if @invites.length > 0 %>
            <%= @invites.each do |invite| %>
                <li><%= invite.name %></li>
            <% end %>
        <% end %>
        <% if @friends.length > 0 %>
            <%= @friends.each do |friend| %>
                <li><%= friend.name %></li>
            <% end %>
        <% else %>
            <li>You have no friends.</li>
        <% end %>
    </ul>
    <%= link_to "Add Friend", add_friend_path, class: "button" %>
</div>