<% menu_icon "+" %>
<% tracker_title current_month %>

<div class="row red columns">
    <div class="column">
        <div class="container column-container mid">
            <h2 class="mini-header">Priorities</h2>
            <%= render "goals/list_goals", { goals: monthly_priorities } %> 
            <div>
                <%= form_for :goal, url: goals_path do |f| %>
                    <%= f.hidden_field :priority, value: true %>
                
                    <%= f.text_field :goal, placeholder: "Priority" %>

                    <div class="row space-between">
                        <%= f.date_field :date %>

                        <%= f.submit 'Save', class: "submit button light" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="container column-container mid">
            <h2 class="mini-header">Goals</h2>
            <%= render "goals/list_goals", { goals: monthly_goals} %> 
            <%= render 'goals/upcoming_form' %>
        </div>
    </div>
    <div class="column">
        <div class="container mid header-bubble">
            <h2>I'm Grateful For</h2>
        </div>
        <div class="container column-container light-mid">
            <%= render 'gratitudes/list_new', {gratitudes: monthly_gratitudes} %>
        </div>
        <div class="container mid header-bubble">
            <h2 class="red">Self Care</h2>
        </div>
        <div class="container column-container mid column dark">
            <%= render 'self_cares/progress_list' %>
        </div>
        <%= render 'finances/progress' %>
    </div>
    <div class="column">
        <div class="container column-container mid">
            <h2 class="mini-header">Notes</h2>
            <%= render "notes/list_notes", {notes: monthly_notes} %> 
            <%= render 'notes/form' %>
        </div>
    </div>
</div>