<% if meals.count >= 1 %>
    <ul>
        <% meals[0..-2].each do |meal| %>
            <li class="row space-between super-light task-bubble dark">
                <h5 class="left"><%=  meal[:type] %></h5>
            </li>
        <% end %>
        <li class="row space-between super-light task-bubble dark">
            <h5><%= meals[-1][:type] %></h5>
            <%= link_to 'âž•', new_meal_path(meals[-1]) %>
        </li>
    </ul>
<% else %>
    <%= form_for :meal, url: meals_path do |f| %>
        <%= f.hidden_field :date, value: Date.current %>
        <%= f.hidden_field :type, value: meal_type %>

        <div class="row emoji-form">
            <%= f.fields_for :food do |ff| %>
                <%= ff.text_field :name, placeholder: meal_type %>
            <% end %>

            <%= f.submit 'ðŸ¹' %>
        </div>
    <% end %>
<% end %>