<% if meals.count >= 1 %>
    <ul>
        <%= meals.each do |meal| %>
            <li class="row space-between super-light task-bubble dark">
                <h5><%= meal[:meal] %></h5>
                <%= link_to 'ðŸ’Œ', edit_meal_path(meal) %>
            </li>
        <% end %>
    </ul>
<% else %>
    <%= form_with url: meals_path do |f| %>
        <%= f.hidden_field :date, value: Date.current %>
        <%= f.hidden_field :meal, value: meal_type %>

        <div class="row">
            <%= f.text_field :foods, placeholder: meal_type %>

            <%= f.submit 'ðŸ¹', class: "emoji-button" %>
        </div>
    <% end %>
<% end %>