<% if meals.count >= 1 %>
    <ul>
        <%= meals.each do |meal| %>
            <li>meal.foods.name</li>
        <% end %>
    </ul>
<% else %>
    <%= form_with url: meals_path do |f| %>
        <%= f.hidden_field :date, value: Date.current %>
        <%= f.hidden_field :meal, value: meal_type %>

        <div class="row">
            <%= f.text_field :foods, placeholder: meal_type %>

            <%= f.submit 'ðŸ¹', class: "emoji-button" %>
        </div>
    <% end %>
<% end %>