<% menu_icon "+" %>

<% if !@meal.errors.empty? %>
  <div>
    <ul>
      <% @meal.errors.full_messages.each do |error| %>
        <li> <%= error %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container mid">
  <h2>New Meal</h2>
  <hr class="rounded">
  <%= form_for @meal do |f| %>
    <div class="row">
      <%= f.fields_for :foods do |ff| %>
        <%= ff.text_field :name, placeholder: "Food", class: "food-list" %>
      <% end %>
      <%= f.select :meal, meal_type_options, {}, prompt: 'Select One' %>
    </div>
    <div class="row">
      <%= f.date_field :date %>

      <%= f.submit 'Save', class: "submit button light" %>
    </div>
  <% end %>
</div>