<%= form_for :goal, url: goals_path do |f| %>
    <%= f.hidden_field :priority, value: priority %>
    
    <%= f.text_field :goal, placeholder: "#{priority ? "Priority" : "Goal"}" %>
    
    <div class="row space-between">
        <%= f.date_field :date %>

        <%= f.submit 'Save', class: "button" %>
    </div>
<% end %>