<div>
    <%= form_for :goal, url: goals_path do |f| %>
        <%= f.hidden_field :priority, value: false %>
    
        <%= f.text_field :goal, placeholder: "Goal" %>

        <div class="row space-between">
            <%= f.date_field :date, value: Date.today + 1.day %>

            <%= f.submit 'Save', class: "submit button light" %>
        </div>
    <% end %>
</div>