<%= render 'error' %>

<div class="container mid">
    <div class="row">
        <h2><%= @goal.goal %></h2>
        <%= link_to '✏️', edit_goal_path %>
        <%= link_to '❌', goal_path(@goal), method: :delete %>
    </div>
    <hr>
    <% if @goal.more_info %>
        <div class="super-light task-bubble">
            <h5><%= @goal.more_info %></h5>
        </div>
    <% end %>
    <div class="row space-between">
        <div class="super-light task-bubble">
            <h5><%= @goal.date %></h5>
        </div>
        <div class="super-light task-bubble">
            <h5><%= @goal.priority ? "High Priority" : "Low Priority" %></h5>
        </div>
    </div>
</div>