<%= form_with url: self_cares_path do |f| %>
    <%= f.hidden_field :frequency, value: "day" %>

    <div class="row">
        <%= f.text_field :label, placeholder: "Self Care" %>

        <%= f.number_field :goal, in: 3.0..12.0, step: 1.0, placeholder: "8", class: "number-input" %>

        <%= f.submit 'ðŸ¹', class: "emoji-button" %>
    </div>
<% end %>