<header>
    <div id="menu-icons">
        <button onclick="document.getElementById('nav-dropdown').classList.toggle('hide')">â˜°</button>
        <%= link_to "+", tracker_menu_path if Current.user %>
        <%= link_to "ðŸ ", root_path %>
        <% if Current.user %>
            <%= link_to "ðŸ“†", daily_path %>
            <%= link_to "ðŸ“…", monthly_path %>
            <%= link_to "ðŸ‘¤", account_path %>
        <% end %>
    </div>
    <nav class="hide" id="nav-dropdown">
      <span>
        <button class="close-menu" onclick="document.getElementById('nav-dropdown').classList.toggle('hide')">x</button>
      </span>
      <ul>
        <li>
          <h2><%= link_to "Dream Journal", root_path %></h2>
        </li>
        <hr class="rounded">
        <% if Current.user %>
          <li><%= link_to "Daily", daily_path %></li>
          <li><%= link_to "Monthly", monthly_path %></li>
          <li><%= link_to "Account", account_path %></li>
          <li class="row">
            <%= button_to 'Sign Out', sign_out_path, method: :delete, class: 'button mid' %>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', login_path, class: 'button mid' %></li>
        <% end %>
      </ul>
    </nav>
</header>