<header id="menu">
    <div id="menu-icons">
        <button class="toggle_menu">📁</button>
        <%= link_to "🏠", root_path if !Current.user %>
        <% if Current.user %>
            <%= link_to "📆", reset_daily_path %>
            <%= link_to "📅", reset_monthly_path %>
            <%= link_to "👤", account_path %>
            <button class="toggle_tracker_menu">➕</button>
        <% end %>
    </div>
    <nav class="hide" id="nav-dropdown">
      <span>
        <button class="close-menu toggle_menu">❌</button>
      </span>
      <ul>
        <li>
          <h2><%= link_to "Dream Journal", root_path %></h2>
        </li>
        <hr class="rounded">
        <% if Current.user %>
          <li><%= link_to "Daily", reset_daily_path %></li>
          <li><%= link_to "Monthly", reset_monthly_path %></li>
          <li><%= link_to "Account", account_path %></li>
          <li class="row">
            <%= button_to 'Sign Out', sign_out_path, method: :delete, class: 'button mid' %>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', login_path, class: 'button mid' %></li>
        <% end %>
      </ul>
    </nav>

    <nav class="hide" id="tracker-dropdown">
      <span>
        <button class="close-menu toggle_tracker_menu">❌</button>
      </span>
      <ul>
          <li><%= link_to 'Goals', new_goal_path %></li>
          <li><%= link_to 'Meals', new_meal_path %></li>
          <li><%= link_to 'Finances', new_finance_path %></li>
          <li><%= link_to 'Notes', new_note_path %></li>
          <li><%= link_to 'Gratitude', new_gratitude_path %></li>
      </ul>
    </nav>
</header>

<%= javascript_pack_tag 'toggleMenu' %>