<!DOCTYPE html>
<html>
  <head>
    <title>DreamJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav-expand">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation"><span class="navbar-toggler-icon">☰</span></button>
      <button type="button" class="menu_link"><%= yield :menu_icon %></button>
      <h1><%= yield :tracker_title %></h1>
    </header>
    <nav class="navbar-collapse collapse show" id="navbarColor01" style="">
      <span>
        <button class="navbar-toggler close-menu" type="button">x</button>
      </span>
      <ul>
        <li>
          <h2><%= link_to "Dream Journal", root_path %></h2>
        </li>
        <hr class="rounded">
        <% if Current.user %>
          <li><%= link_to "Daily", daily_path %></li>
          <li><%= link_to "Monthly", monthly_path %></li>
          <li><%= link_to "Account", account_path %></li>
          <li>
            <%= button_to 'Logout', logout_path, method: :delete, class: 'button' %>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path, class: 'button' %></li>
        <% end %>
      </ul>
    </nav>
    <h4 class="notice"><%= notice %></h4>
    <h4 class="alert"><%= alert %></h4>
    <%= yield %>
  </body>
</html>
