<!DOCTYPE html>
<html>
  <head>
    <title>DreamJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer" %>
  </head>

  <body>
    <header>
      <div id="menu-icons">
        <button onclick="document.getElementById('nav-dropdown').classList.toggle('hide')">☰</button>
        <%= link_to "Dream Journal", root_path %>
      </div>
    </header>
    <%= render 'layouts/menu' %>
    <h4 class="notice"><%= notice %></h4>
    <h4 class="alert"><%= alert %></h4>
    <%= yield %>
  </body>
</html>


<%= javascript_pack_tag "toggleMenu" %>